.container-div {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  display: flex;

  .input-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1em;

    .input-component {
      display: flex;
    }
  }

  .messages-div {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 50%;
    padding: 1em;

    .message-cards {
      text-align: center;
      word-break: break-all;
      margin-top: 1em;
      background-color: #8c9eff;
      color: white;
      font-size: 1.4em;
    }
  }
}
